{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Create Job Todo Item{% endblock title %}

{% block content %}
<!-- <h1>{{ list.list_name }}</h1>
<h2>Create a job todo item</h2>
<form action="?" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="save item">
</form> -->

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ list.list_name }}</h4>
                    <p>Create a job todo item</p>
                    <form class="forms-sample" action="?" method="post">
                        {% csrf_token %}
                        {% include 'bs4_form.html' with form=form %}
                        <script>
                            $(function () {
                                $("#id_due_date").datetimepicker({
                                    format: 'Y-m-d',
                                    timepicker: false,
                                });
                            });
                        </script>
                        <button type="submit" value="save item" class="btn btn-primary mr-2">Submit</button>
                        <a class="btn btn-secondary btn-fw" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
