{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <h1>Dashboard</h1>
    <p>Welcome to your dashboard.</p>
    <p>Job Todo Lists:</p>
    <p>You can create a new list <a href="{% url 'list_create' %}">here</a>.</p>
    <ul>
        {% for list in request.user.lists.all %}
            <!-- <li><a href="{% url 'item_create' list.id %}">{{ list.list_name }}</a></li> -->
            <li><a href="{% url 'list_detail' list.id %}">{{ list.list_name }}</a></li>
            <ul>
                {% for item in list.items.all %}
                    <li><a href="{% url 'item_detail' item.id %}">{{ item.item_name }}</a> priority: {{ item.get_priority_display }}</li>
                {% empty %}
                    <li>No todo item.</li>
                {% endfor %}
            </ul>
        {% empty %}
            <li>No todo list.</li>
        {% endfor %}
    </ul>

{% endblock content %}
