{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{% static 'vendors/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/chartist/chartist.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- End layout styles -->
    <!-- <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" /> -->

    <!-- jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
        integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
        integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>


</head>

<body>
    <div class="container-scroller">
        {% if request.user.is_authenticated %}

            <!-- partial:partials/_navbar.html -->
            <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex align-items-center">
                    <a class="navbar-brand brand-logo" href="{% url 'dashboard' %}">
                        <img src="{% static 'images/icons8-corgi-100.png' %}" alt="logo" class="logo-dark" />
                    </a>
                    <a class="navbar-brand brand-logo-mini" href="{% url 'dashboard' %}"><img src="{% static 'images/icons8-corgi-100.png' %}" alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
                    <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Welcome to Job Todo List dashboard!</h5>
                    <ul class="navbar-nav navbar-nav-right ml-auto">
                        {% with items_due_date=request.user.lists.all.0.items.all.0.close_to_due_date %}
                            <li class="nav-item dropdown">
                                <a class="nav-link count-indicator message-dropdown" id="messageDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <i class="icon-speech"></i>
                                    <span class="count">{{ items_due_date|length }}</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                                    <a class="dropdown-item py-3" href="{% url 'item_list' %}">
                                        <p class="mb-0 font-weight-medium float-left">You have {{ items_due_date|length }} todo item{{ items_due_date|pluralize }} due in 3 days. </p>
                                    <!-- <p class="mb-0 font-weight-medium float-left">{{ items_due_date }}</p> -->
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    {% for item in items_due_date %}
                                        <a class="dropdown-item preview-item" href="{% url 'item_detail' item.pk %}">
                                          <!-- <div class="preview-thumbnail">
                                            <img src="{% static 'images/faces/face10.jpg' %}" alt="image" class="img-sm profile-pic"> </div> -->
                                            <div class="preview-item-content flex-grow py-2">
                                                <p class="preview-subject ellipsis font-weight-medium text-dark"> {{ item.item_name }} </p>
                                                <p class="font-weight-light small-text"> Due date: {{ item.due_date }} </p>
                                                <p class="font-weight-light small-text"> Priority:
                                                    {% if item.get_priority_display == 'High' %}
                                                        <label class="badge badge-danger">High</label>
                                                    {% elif item.get_priority_display == 'Medium' %}
                                                        <label class="badge badge-warning">Medium</label>
                                                    {% else %}
                                                        <label class="badge badge-success">Low</label>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endwith %}

                        <!-- <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown"> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                {% if request.user.profile.avatar %}
                                    <img class="img-xs rounded-circle ml-2" src="{{ request.user.profile.avatar.url }}" alt="Profile image">
                                {% else %}
                                    <img class="img-xs rounded-circle ml-2" src="{% static 'images/icons8-corgi-100.png' %}" alt="profile image">
                                {% endif %}
                                <span class="font-weight-normal mx-2"> {{ request.user.username }} </span></a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                                <div class="dropdown-header text-center">
                                    {% if request.user.profile.avatar %}
                                        <img class="img-lg rounded-circle" src="{{ request.user.profile.avatar.url }}" alt="Profile image">
                                    {% else %}
                                        <img class="img-lg rounded-circle" src="{% static 'images/icons8-corgi-100.png' %}" alt="Profile image">
                                    {% endif %}
                                    <p class="mb-1 mt-3">{{ request.user.username }}</p>
                                    <p class="font-weight-light text-muted mb-0">{{ request.user.email }}</p>
                                </div>
                                <a href="{% url 'user_detail' %}" class="dropdown-item"><i class="dropdown-item-icon icon-user text-primary mx-2"></i> My Profile</a>
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary  mx-2"></i>Sign Out</a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="icon-menu"></span>
                    </button>
                </div>
            </nav>

        {% endif %}

    <!-- partial -->
        <div class="container-fluid page-body-wrapper">

            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="{% url 'user_detail' %}" class="nav-link">
                            <div class="profile-image">
                                {% if request.user.profile.avatar %}
                                    <img class="img-xs rounded-circle" src="{{ request.user.profile.avatar.url }}" alt="profile image">
                                {% else %}
                                    <img class="img-xs rounded-circle" src="{% static 'images/icons8-corgi-100.png' %}" alt="profile image">
                                {% endif %}
                                <!-- <div class="dot-indicator bg-success"></div> -->
                            </div>
                            <div class="text-wrapper">
                                <p class="profile-name">{{ request.user.username }}</p>
                            </div>
                            <!-- <div class="icon-container">
                            <i class="icon-bubbles"></i>
                            <div class="dot-indicator bg-danger"></div>
                            </div> -->
                        </a>
                    </li>
                    <li class="nav-item nav-category">
                        <span class="nav-link">Dashboard</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">
                            <span class="menu-title">Dashboard</span>
                            <i class="icon-screen-desktop menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-category">
                        <span class="nav-link">User Profile</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_detail' %}">
                            <span class="menu-title">User Profile</span>
                            <i class="icon-user menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-category"><span class="nav-link">Job Todo Lists</span></li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                            <span class="menu-title">Todo Lists</span>
                            <i class="icon-drawer menu-icon"></i>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">
                                {% for list in request.user.lists.all %}
                                    <li class="nav-item"> <a class="nav-link" href="{% url 'list_detail' list.id %}">{{ list.list_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'item_list' %}">
                            <span class="menu-title">Todo Items</span>
                            <i class="icon-docs menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="main-panel">

                {% block content %}
                {% endblock content %}

                <!-- partial:partials/_footer.html -->
                <!-- Footer -->
                <footer class="footer">
                    <!-- Grid row -->
                    <div class="row d-flex align-items-center">
                        <!-- Grid column -->
                        <div class="col-md-7 col-lg-8">
                            <!--Copyright-->
                            <p class="text-center text-md-left">© logan_corgi</p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-5 col-lg-4 ml-lg-0">
                            <!-- Social buttons -->
                            <div class="text-center text-md-right">
                                <ul class="list-unstyled list-inline">
                                    <li class="list-inline-item">
                                        <button type="button" class="btn btn-primary btn-rounded btn-icon" onclick="window.open('http://www.instagram.com/logan_corgi','_blank')">
                                            <i class="icon-social-instagram"></i>
                                        </button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button type="button" class="btn btn-dark btn-rounded btn-icon" onclick="window.open('https://powerball-prediction.herokuapp.com','_blank')">
                                            <i class="icon-globe"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </footer>
                <!-- Footer -->

            </div>

        </div>


    </div>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script> -->
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendors/moment/moment.min.js' %}"></script>
    <script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendors/chartist/chartist.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="https://kit.fontawesome.com/ead6b29671.js" crossorigin="anonymous"></script>
    <!-- End custom js for this page -->

</body>

</html>
